@tailwind base;
@tailwind components;
@tailwind utilities;
@import './font.css';

:root { 
  --orange-color: #F89369;

 }

.custom-bg { 
  background-image: url('./assets/background_header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 }

 .text-stroke {
  -webkit-text-stroke: 1px #F89369;
  text-stroke: 1px #F89369; /* Fallback for browsers that support text-stroke */
}
.text-stroke2 { -webkit-text-stroke: 1px black; /* For WebKit-based browsers */ text-stroke: 1px black; /* Standard property */ }
.text-stroke3 { -webkit-text-stroke: 1px white; /* For WebKit-based browsers */ text-stroke: 1px white; /* Standard property */ }